@mixin flex-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-container-center-column {
  @include flex-container-center;
  flex-direction: column;
}

@mixin component-default-size {
  width: calc(100% - 20px);
  max-width: 600px;
}