@import 'mainStyles';
@import 'colors';

.loading {
  @include component-default-size;
  @include flex-container-center-column;
  margin: 0 auto;
  height: 70vh;
  background-color: $component-bg-color;
  border-radius: 3px;
}

.loading__title{
  color: white;
}

.loading__img {
  width: 30%;
  max-width: 80px;
}

.loading__message {
  color: white;
}
