@import 'mainStyles';
@import 'colors';

.switch{
  @include component-default-size;
  background-color: $component-bg-color;
  margin: 5px auto;
  padding: 5px 10px;
  border-radius: 5px;
}

.switch__unit {
  margin-left: 8px;
}

.switch__innerContainer {
  width: 50px;
  height: 23px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.switch__celsiusIcon, .switch__fahrenheitIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.switch__fahrenheitIcon {
  color: white;
  margin-right: 2px;
}

.switch__celsiusIcon {
  color: #ebebeb;
  margin-left: 2px;
}

.switch__selector {
  width: 80px;
  height: 100%;
  background: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
  position: absolute;
  padding: 1px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease .2s;
}

.switch__selector--left{
  margin-left: -30px;
}

.switch__selector--rigth{
  margin-left: 0;
}

.switch__pointer {
  background-color: #777;
  opacity: .4;
  border-radius: 50%;
  width: 21px;
  height: 100%;
}