.searchLocation__innerContainer, .searchLocation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchLocation {
  width: 100%;
  max-width: 600px;
}

.searchLocation {
  background-color: #fbfbfb;
  padding: 10px;
  color: #777;
  margin: 0 auto;
  border-radius: 3px;
}

.searchLocation__innerContainer {
  width: 100%;
  max-width: 400px;
  border-radius: 3px;
  border: solid thin #777;
  padding: 3px;
}

.searchLocation__input {
  width: 90%;
  outline: none;
  border: none;
  background-color: transparent;
  margin: 0;
  color: inherit;
}

.searchLocation__button {
  width: 10%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  padding-top: 5px;
  font-size: 18px;
}

.searchLocation__searchList {
  position: absolute;
  top: 50px;
  background-color: #fafafa;
  width: 100%;
  max-width: 400px;
  min-height: 30px;
  max-height: 50vh;
  overflow-y: auto;
  padding: 5px;
  border: solid thin #777;
  color: #555;
}

.searchLocation__searchOption {
  width: 100%;
  cursor: pointer;
  border-bottom: solid thin #aaa;
  margin: 5px 0;
}
.searchLocation__searchOption:hover {
  opacity: 0.8;
}

.hiddenElement {
  display: none;
}
