.switch {
  width: 100%;
  max-width: 600px;
  background-color: #fbfbfb;
  margin: 5px auto;
  padding: 5px 10px;
  border-radius: 5px;
}

.switch__unit {
  margin-left: 8px;
}

.switch__innerContainer {
  width: 50px;
  height: 23px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch__celsiusIcon, .switch__fahrenheitIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.switch__fahrenheitIcon {
  color: white;
  margin-right: 2px;
}

.switch__celsiusIcon {
  color: #ebebeb;
  margin-left: 2px;
}

.switch__selector {
  width: 80px;
  height: 100%;
  background: linear-gradient(to right, #6800B9 0%, #DD00AC 100%);
  position: absolute;
  padding: 1px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
}

.switch__selector--left {
  margin-left: -30px;
}

.switch__selector--rigth {
  margin-left: 0;
}

.switch__pointer {
  background-color: black;
  opacity: 0.4;
  border-radius: 50%;
  width: 21px;
  height: 100%;
}
