.weatherCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: #fbfbfb;
  margin: 5px auto;
  padding: 5px;
}

.weatherCard__location {
  margin: 5px 0;
}

.weatherCard__innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100px;
  flex: 0;
  flex-wrap: wrap;
}

.weatherCard__imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-shrink: 0;
}

.weatherCard__temp, .weatherCard__temp--current {
  display: flex;
}

.weatherCard__temp {
  flex-direction: column;
  margin-left: 10px;
}

.weatherCard__ctemp {
  font-size: 46px;
}

.weatherCard__maxtemp, .weatherCard__mintemp {
  font-size: 26px;
}

.weatherCard__mintemp {
  opacity: 0.7;
}

.weatherCard__extraInfo {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100px;
}
.weatherCard__extraInfo svg {
  margin-left: auto;
  margin-right: 2px;
}

.weatherCard__date {
  margin: 5px 0;
}
